In [2]:
print("Hallo World!")

Hallo World!

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib as pyplt
import seaborn as sns

## Loading Data set

In [3]:
## loading raw van Data set
vans=pd.read_csv("2021_Vans_Raw.csv")

In [4]:
vans.head()

,OBFCM data source,ID,OBFCM ReportingPeriod,Registration Year,Total fuel consumed (lifetime) (l),Total distance travelled (lifetime) (km),Total distance travelled in charge depleting operation with engine off (lifetime) (km),Total distance travelled in charge depleting operation with engine running (lifetime) (km),Total distance travelled in driver-selectable charge increasing operation (lifetime) (km),Total fuel consumed in charge depleting operation (lifetime) (l),Total fuel consumed in driver-selectable charge increasing operation (lifetime) (l),Total grid energy into the battery (lifetime) (kWh),Used in calculation
0,OEM,5765924,2021,2021,302.89,5116.0,NaN,NaN,NaN,NaN,NaN,NaN,1
1,OEM,5766790,2021,2021,233.31,3525.7,NaN,NaN,NaN,NaN,NaN,NaN,1
2,OEM,8407539,2021,2021,683.79,10267.4,NaN,NaN,NaN,NaN,NaN,NaN,1
3,OEM,8407565,2021,2021,1300.49,17753.3,NaN,NaN,NaN,NaN,NaN,NaN,1
4,OEM,8407505,2021,2021,1157.96,15453.3,NaN,NaN,NaN,NaN,NaN,NaN,1

In [5]:
vans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12301 entries, 0 to 12300
Data columns (total 13 columns):
 #   Column                                                                                      Non-Null Count  Dtype
---  ------                                                                                      --------------  -----
 0   OBFCM data source                                                                           12301 non-null  object
 1   ID                                                                                          12301 non-null  int64
 2   OBFCM ReportingPeriod                                                                       12301 non-null  int64
 3   Registration Year                                                                           12301 non-null  int64
 4   Total fuel consumed (lifetime) (l)                                                          12301 non-null  float64
 5   Total distance travelled (lifetime) (km)                                                    12301 non-null  float64
 6   Total distance travelled in charge depleting operation with engine off (lifetime) (km)      4666 non-null   float64
 7   Total distance travelled in charge depleting operation with engine running (lifetime) (km)  4666 non-null   float64
 8   Total distance travelled in driver-selectable charge increasing operation (lifetime)  (km)  4666 non-null   float64
 9   Total fuel consumed in charge depleting operation (lifetime) (l)                            4666 non-null   float64
 10  Total fuel consumed in driver-selectable charge increasing operation (lifetime) (l)         4666 non-null   float64
 11  Total grid energy into the battery (lifetime) (kWh)                                         4666 non-null   float64
 12  Used in calculation                                                                         12301 non-null  int64
dtypes: float64(8), int64(4), object(1)
memory usage: 1.2+ MB

In [6]:
vans.isnull().sum()

OBFCM data source                                                                                0
ID                                                                                               0
OBFCM ReportingPeriod                                                                            0
Registration Year                                                                                0
Total fuel consumed (lifetime) (l)                                                               0
Total distance travelled (lifetime) (km)                                                         0
Total distance travelled in charge depleting operation with engine off (lifetime) (km)        7635
Total distance travelled in charge depleting operation with engine running (lifetime) (km)    7635
Total distance travelled in driver-selectable charge increasing operation (lifetime)  (km)    7635
Total fuel consumed in charge depleting operation (lifetime) (l)                              7635
Total fuel consumed in driver-selectable charge increasing operation (lifetime) (l)           7635
Total grid energy into the battery (lifetime) (kWh)                                           7635
Used in calculation                                                                              0
dtype: int64